/* --emerald: #44cb64ff;
--light-slate-gray: #7a8b99ff;
--pewter-blue: #91adc2ff;
--cool-grey: #9ba0bcff;
--lavender-gray: #c1b8c8ff;
--purple-white: #f9f4fd */

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100vw;
    background-color: #9ba0bcff;
    font-size: 15px;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f9f4fd;
    height: 100%;
}

nav a:hover{
    text-shadow: 0 0 3px #44cb64ff;
    font-size: 18px;
}

header{
    max-height: 100vh;
    overflow: hidden;
}

header > img {
    padding-top: 3vh;
    width: 100vw;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 1rem;
    width: 75vw;
}

h1{
    font-weight: bold;
}

.member-card{
    width: 75vw;
    height: auto;
    padding: 1rem 0.5rem 0.4rem 0.5rem;
    margin: 3rem 0;
    background-color: #f9f4fd;
    /* border: 3px solid #f1e0ff; */
    border-radius: 4%;
    box-shadow: 
        .5rem .5rem .3rem #c1b8c8ff, 
        inset 0 0 .5rem .5rem #f1e0ff;
}

.member-card img{
    width: 70vw;
    height: auto;
    border-radius: 4%;
}



/* media query 425px to 600px */
@media only screen and (min-width: 425px){
    main{
        width: 85vw;
    }
    
    #cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 85vw;
    }
    .member-card{
        width: 34vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
    }
    .member-card img{
        width: 30vw;
    }
}


/* media query 600px to 768px */
@media only screen and (min-width: 600px){
    nav{
        justify-content: flex-start;
    }

    nav a{
        text-align: center;
        width: 6rem;
    }
    
    .member-card{
        width: 22vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
    }
    .member-card img{
        width: 20vw;
    }
}



/* media query 768px to 1024px */
@media only screen and (min-width: 768px){
    nav{
        height: 12vh;
    }

    nav a{
        font-size: 20px;
        width: 8rem;
    }

    nav a:hover{
        font-size: 24px;
        text-shadow: 0 0 3px #44cb64ff;
    }
    
    .member-card{
        width: 14vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
    }
    .member-card img{
        width: 13vw;
    }
    .member-card:nth-child(1), .member-card:nth-child(2), .member-card:nth-child(3), .member-card:nth-child(4), .member-card:nth-child(5){
        margin: 1rem .3rem;
    }
}


/* media query 1024px and up */ 
@media only screen and (min-width: 1024px){
    body{
        font-size: 18px;
    }
}
