/* --emerald: #44cb64ff;
--light-slate-gray: #7a8b99ff;
--pewter-blue: #91adc2ff;
--cool-grey: #9ba0bcff;
--lavender-gray: #c1b8c8ff;
--purple-white: #f9f4fd */

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
}



/* BODY */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}



/* NAVIGATION BAR */

nav{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
    width: 100vw;
    background-color: #9ba0bcff;
    font-size: 15px;
    max-width: 100%;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f9f4fd;
    height: 100%;
}

nav a:hover{
    text-shadow: 0 0 3px #44cb64ff;
    font-size: 18px;
}



/* HEADER */

header{
    max-height: 100vh;
    overflow: hidden;
}

header > img {
    padding-top: 3vh;
    width: 100vw;
    height: auto;
    max-width:100%;
}



/* MAIN CONTENT */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 1rem;
    width: 75vw;
}

h1{
    font-weight: bold;
}



/* MEMBER CARDS */

.member-card{
    width: 75vw;
    height: auto;
    padding: 1rem 0.5rem 0.4rem 0.5rem;
    margin: 3rem 0;
    background-color: #f9f4fd;
    /* border: 3px solid #f1e0ff; */
    border-radius: 4%;
    box-shadow: 
        .5rem .5rem .3rem #c1b8c8ff, 
        inset 0 0 .5rem .5rem #f1e0ff;
}

.member-card img{
    width: 70vw;
    height: auto;
    border-radius: 4%;
}

.empty{
    width: 100vw;
    height: 13vh;
}



/* ALBUMS */

#albums{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100vw;
    background-color: rgb(244, 236, 250);
    /* text-align: center; */
}

#albums h2, #group h1{
    margin-block-start: 0;
}

.album-card{
    width: 75vw;
    height: auto;
    padding: 1rem 0.5rem 0.4rem 0.5rem;
    margin: 3rem 0;
    background-color: #f1e0ff;
    display: flex;
    flex-direction: column;
    box-shadow: 
        .5rem .5rem .3rem #c1b8c8ff, 
        inset 0 0 .5rem .5rem rgb(240, 222, 255);
    border-radius: 4%;
}

.play{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 4%;
}

.play img{
    width: 70vw;
    height: auto;
    border-radius: 4%;
    align-self: center;
}

.play-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    border-radius: 4%;
}

.play:hover .play-overlay{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.play-overlay svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.album-info{
    margin: 0;
    padding: 0.5rem 0.5rem .6rem 0.5rem;
    width: 70vw;
    align-self: center;
    /* padding: 10px 5px 10px 8px; */
}

.album-card h4{
    margin: 0 ;
    padding-bottom: 5px;
}

.album-card h5{
    margin: 0;
    /* padding: 0 5px 10px 5px; */
    color: rgb(85, 85, 85);
    font-weight: normal;
}



/* CONTACT INFORMATION */

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content:flex-start;
    text-align: center;
    margin: 0 1rem;
    width: 75vw;
}

#contact h2{
    align-self: center;
}

#contact img{
    display: none;
}



/* FOOTER */

footer{
    height: 6vh;
    width: 100vw;
    background-color: #9ba0bcff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    height: 80%
}
/* media query 425px to 600px */
/* @media only screen and (min-width: 425px){
    main{
        width: 85vw;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 85vw;
    }
    .member-card, .album-card{
        width: 34vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
    }
    .member-card img, .play img, .play, .album-info{
        width: 30vw;
    }
    .empty{
        height: 17vh;
    }
} */


/* media query 600px to 768px */
/* @media only screen and (min-width: 600px){
    nav{
        justify-content: flex-start;
    }

    nav a{
        text-align: center;
        width: 6rem;
    }
    
    .member-card, .album-card{
        width: 22vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .5rem;
    }
    .member-card img, .play img, .play, .album-info{
        width: 20vw;
    }
} */



/* media query 768px to 1024px */
/* @media only screen and (min-width: 768px){
    nav{
        height: 12vh;
    }

    nav a{
        font-size: 20px;
        width: 8rem;
    }

    nav a:hover{
        font-size: 24px;
        text-shadow: 0 0 3px #44cb64ff;
    }
    
    .member-card{
        width: 14vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .3rem;
    }
    .member-card img{
        width: 13vw;
    }
    .member-card:nth-child(1), .member-card:nth-child(2), .member-card:nth-child(3), .member-card:nth-child(4), .member-card:nth-child(5){
        margin: 1rem .2rem;
    }
    .album-card{
        width: 17vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem .4rem;
    }

    .play img, .play, .album-info {
        width: 15vw;
        align-self: center;
    }
} */


/* media query 1024px and up */ 
/* @media only screen and (min-width: 1024px){
    body{
        font-size: 18px;
    }
} */
